.button {
  border-radius: 15px;
  padding: 1rem 2rem;
  background: lightyellow;
  border: 3px solid rgb(247, 229, 229);
  cursor: pointer;
  color: lavender;
  box-shadow: 0px 0px 5px #c5c5c5;
  font-weight: bold;
}

.button:hover {
  background: transparent;
  color: lightyellow;
  border-color: lightyellow;
  text-shadow: none;
}
