.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  background: rgb(247, 229, 229);
  color: rgb(31, 31, 29);
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  font-size: 2rem;
}
.navbar li {
  margin: 0 1rem;
}
.navbar ul a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navbar ul a:hover {
  opacity: 0.8;
}
