.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  background: var(--tertiary-color);
  color: var(--text-color);
  align-items: center;
  box-shadow: 0 0 10px 3px #e7e5e5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.navbar__brand {
  font-size: 1.3rem;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  font-size: 2rem;
  align-items: center;
}
.navbar li {
  margin: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
}
.navbar ul a:hover {
  opacity: 0.8;
}
