.NewContact {
  background: var(--primary-color);
  color: var(--text-color);
  width: 100%;
}
.title {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 3rem;
}

.title .line {
  position: absolute;
  bottom: -12px;
  right: 50%;
  transform: translateX(50%);
  width: 150px;
  height: 6px;
  background: var(--primary-color);
  border-radius: 20px;
}
