* {
  box-sizing: border-box;
}

body {
  --accent-color: lightyellow;
  --primary-color: lavender;
  --tertiary-color: rgb(247, 229, 229);
  --text-color: black;
  --background: white;
  --invalid: rgb(151, 151, 231);
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  margin: 1rem auto;
  width: 100%;
}
